.internTab{
    display: none;
}
.active{
    display: block;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #1E1E1E;
}

.create{
    padding: 12px 16px;
    background: #793EF5;
    border-radius: 12px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    gap: 12px;
}