.App{
  background: #F1F4F8;
  display: grid;
  grid-template-columns: 0.8fr 3.2fr;
  grid-template-rows: 1fr;
}

.left{
  height: 100vh;
  padding: 16px;
}

section{
  padding: 50px 60px 50px 20px;
}